# Ignore VS Code files and directories
.vscode/*
*-workspace

# Ignore local development items
skaffold.yaml
oci/gitfence/.version
oci/gitfence/buildx.sh

# Other files to ignore
**/.DS_Store
artifacthub-repo.yml
**/*.tgz
